div {
  padding-top: 10px;

  stock-detail {
    margin: 10px;
    width: 48%;
    display: inline-block;
  }

  .info {
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;

    &.error {
      color: palevioletred;
    }
  }
}
